<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">
<servlet>
    <servlet-name>
        FinalizePurchaseServlet
    </servlet-name>
    <servlet-class>
        FinalizePurchaseServlet
    </servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>
        FinalizePurchaseServlet
    </servlet-name>
    <url-pattern>
        /ssl/FinalizePurchaseServlet
    </url-pattern>
</servlet-mapping>

<!-- Servlet to logout the user. -->
<servlet>
    <servlet-name>
        Logout
    </servlet-name>
    <servlservlet-class>
        LogoutServlet
    </servlservlet-class>    
</servlet>
<servlet-mapping>
    <servlet-name>
        Logout
    </servlet-name>
    <url-pattern>
        /admin/logout
    </url-pattern>
</servlet-mapping>

<error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/jspPages/forbidden.jsp</location>
</error-page>

<!-- Protect everything within the first/ directory -->
<security-constraint>
    <web-resource-collection>
        <web-resource-name>Investing</web-resource-name>
        <url-pattern>/investing/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>registerder-user</role-name>
        <role-name>administrator</role-name>
    </auth-constraint>
</security-constraint>

<!-- URLs of the http://localhost/Form-Based_authentification/ssl/* 
will be redirected to https://localhost/Form-Based_authentification/ssl/*-->

<security-constraint>
    <web-resource-collection>
        <web-resource-name>Purchase</web-resource-name>
        <url-pattern>/ssl/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>registered-user</role-name>
    </auth-constraint>
<!-- !!!  --><user-data-constraint>
        <trantransport-guarantee>CONFIDENTIAL</trantransport-guarantee>
    </user-data-constraint>
</security-constraint>

<!-- only users with administrator role can access
 the delete-account.jsp in the admin directory-->
 
 <security-constraint>
     <web-resource-collection>
         <web-resource-name>Account Deletion</web-resource-name>
         <url-pattern>/admin/delete-account.jsp</url-pattern>
     </web-resource-collection>
     <auth-constraint>
         <role-name>administrator</role-name>
     </auth-constraint>
 </security-constraint>
 
      <!-- declare security roles for this this app -->
<security-role>
    <role-name>administrator</role-name>
</security-role>
<security-role>
    <role-name>registered-user</role-name>
</security-role>    

<!-- Tell the server to use form-based authentication-->

<login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
        <form-login-page>/admin/login.jsp</form-login-page>
        <form-error-page>/admin/login-error.jsp</form-error-page>
    </form-login-config>
</login-config>

  <!-- Restrict access to servlets by other serlvet-->
  
<servlet>
    <servlet-name>NoInvoker</servlet-name>
    <serlvet-class>NoInvokerServlet</serlvet-class>
</servlet>
<servlet-mapping>
    <servlet-name>NoInvoker</servlet-name>
    <url-patter>/servlet/*</url-pattern>
</servlet-mapping>        
    
   <!-- -->
<welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
</welcome-file-list>
</web-app>
