<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>loginfilter</filter-name>
        <filter-class>SigninSignout.loginfilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginfilter</filter-name>
        <url-pattern>/login.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>loginfilter</filter-name>
        <url-pattern>/message.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>loginfilter</filter-name>
        <url-pattern>/newforcompany.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>loginfilter</filter-name>
        <url-pattern>/newforworker.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>loginfilter</filter-name>
        <url-pattern>/newmessages.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>loginfilter</filter-name>
        <url-pattern>/new</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>SigninSignout.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DbMessages</servlet-name>
        <servlet-class>messages.DbMessages</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DbMessages</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
           0
        </session-timeout>
    </session-config>
</web-app>
